* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}
h1,h2,h3,p,img,a{
    padding: 60px 5vw;
}
body{background-color: rgb(32, 32, 34);
}