/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    border-style: dashed;
   h1,h2,a,{color:black;font-size: 30px;text-align: center;}
a herf{text-align: center;}
    
}


p,
a,
li {
    line-height: 1.5em;
    font-size: 1.1em;
   
}