/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
body{background-color: black;}
header{text-align: center;color: aliceblue;}
Main{text-align: center;
font: 1em sans-serif;color: aliceblue;}
h1,h2,a{text-decoration: solid;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: antiquewhite;}