/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
    position: relative; right:30px
}


p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
    position: relative; right:30px
}
